{% set uris = [ ldap_primary_uri ] %}
{% if ldap_alternate_uris is defined %}
{% for item in ldap_alternate_uris %}
{% set uris = uris.append(item) %}
{% endfor %}
{% endif %}
BASE            {{ ldap_base_dn }}
URI             {{ uris | join(" ") }}
TLS_CACERT      {{ ssl_server_CA_cert_path }}
#TLS_CRLFILE    {{ ssl_server_CA_crl_path }}
#TLS_CRLCHECK   all
TLS_CERT        {{ ldap_client_cert_path }}
TLS_KEY         {{ ldap_client_key_path }}
TLS_REQCERT     hard
TLS_CIPHERSUITE {{ openssl_ciphers }}
SASL_MECH       GSSAPI
SASL_SECPROPS   noplain,noanonymous